.report-header{
width: 97%;
height: 150px;
background: #E8F3FF 0% 0% no-repeat padding-box;
opacity: 1;
margin-left: 1.9%;
text-align: left;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
letter-spacing: 0px;
color: #333333;
display: flex;
justify-content:space-between;
padding: 1em;
}
.clm{
    display:flex;
    flex-direction: column;
    margin-bottom: 1em;
}
.select-icon{
    width: 14px;
    height: 14px;
    margin-right: 4px;
  }