.report-footer-gray{
    background-color: #eceff1;
    color: #333;
    width: 97%;
    margin-left: 2%;
    padding: 15px 5px;
}

.footer-row {
    width: 97%;
    margin-left: 2%;
    color: #fff;
    background-color: #455a64;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}