.condensers-list-container{
    background: #f3f5f6;
    font-family: 'segoe UI';
}
#download {
    display: none;
  }
.button-section{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.table-section {
    margin-left: 1em;
    margin-right: 1em;
}

.norecrds-div {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 1em;
  flex-direction: column;
}
section h2{
    margin-left: 1em;
    /* padding-top: 8px; */
    position: relative;
    top: 1em;
}
mat-spinner{
    z-index: 100000;
    left: 50%;
  }
:host ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
    stroke: #3fb53f;
}
.btn {
    width: 162px;
    height: 40px;
    background: #5cb85c;
    color: white;
    margin: 0.5em 1.5em 0.5em;
    &:not(.mat-button-disabled):hover {
        background: #1b8f1b;
        color: white;
      }
  }
:host ::ng-deep .mat-button-wrapper{
    font-size: 18px !important;
    font-weight: 400 !important;
  }
:host ::ng-deep .mat-card {
    padding: 0px;
    //box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 1px 1px 1px 0px rgba(0, 0, 0, 0.20), inset 1px 1px 3px 0px rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.1);
}
:host ::ng-deep p-dropdown {
  font-size: 13px;
}
:host ::ng-deep .p-datatable-header{
    padding: .5rem .475rem;
    background: #f3f5f6;
    border: none;
}
:host ::ng-deep .p-input-icon-left > .p-inputtext {
    padding-left: 2rem;
    width: 25em;
}
